.recipes {
  font-size: 36px;
  background-color: lightgreen;
  color: blue;
  text-align: center;
  margin: 0 auto;
  margin-left: 1050px;
  margin-right: 1050px;
}

.links {
  font-weight: 400;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  border: 2px dotted black;
  margin-top: 10px;
  margin-left: 1050px;
  margin-right: 1050px;
}

#burger {
  font-family: fantasy;
  font-weight: 900;
}

#cookies {
  font-family: cursive;
}

.home {
  font-weight: bold;
  color: blue;
  background-color: lightgreen;
  display: block;
  margin: 0 1050px 5px 1050px;
  border-top: 1px solid black;
}

.center-all {
  text-align: center;
}

.steps {
  text-align: center;
  margin-left: 1050px;
  margin-right: 1050px;
}

.ingredients {
  list-style-type: none;
  margin-left: 1050px;
  margin-right: 1050px;
}

body {
  background-color: rgb(203, 223, 203);
}

ul {
  margin-bottom: 10px;
  padding: 10px;
}

li {
  margin-bottom: 5px;
}
